<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/adminLayout.html}">
<head>
<meta charset="UTF-8">

<title>ShowTiCat</title>

<script>
$(function() {
	$("#addShowBtn").on("click", addShow);
	$(".showDetail").on("click", showDetail);
	
	//파일 업로더 label
	$(".custom-file-input").on("change",function() {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
})

var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
	
function addShow() {
	location.href="/admin/addShow";
}

function showDetail() {
	var showCode = $(this).attr("show-code");
	location.href="/admin/show/"+showCode;
}
</script>
</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<div class="listTitle">
			<h2>영화/공연 목록</h2>
			<button class="btn btn-outline-showticat" id="addShowBtn">영화/공연 추가</button>
		</div>
	
			<p th:if="${showList == null}">등록된 영화/공연이 없습니다.</p>
			
			<table th:if="${showList != null}" class="table table-hover">
				<thead id="thead">
					<tr>
						<th class="n">번호</th>
						<th class="t">카테고리</th>
						<th class="n">제목</th>
						<th class="n">줄거리</th>
						<th class="c">감독</th>
						<th class="d">개봉일</th>
						<th class="b">상영시간</th>
						<th class="b">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="show:${showList}" class="showDetail" th:show-code="${show.showCode}">
						<td class="n">[[${show.showCode}]]</td>
						<td class="n">[[${show.category}]]</td>
						<td class="t">[[${show.showName}]]</td>
						<td class="n">[[${show.summary}]]</td>
						<td class="d">[[${show.director}]]</td>
						<td class="b">[[${show.openingDate}]]</td>
						<td class="b">[[${show.runningTime}]]</td>
						<td class="b">[[${show.price}]]</td>
					</tr>
				</tbody>
			</table>
	</div>
	
</div>
</body>
</html>