<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/adminLayout.html}">
<head>
<meta charset="UTF-8">

<title>ShowTiCat</title>

</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<div class="listTitle">
			<h2>상영관 목록</h2>
			<button class="btn btn-outline-primary" id="addTheaterBtn" data-toggle="modal" data-target="#myModal">
				상영관 추가
			</button>
		</div>
	</div>
	
</div>
</body>
</html>