<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/adminLayout.html}">
<head>
<meta charset="UTF-8">

<title>ShowTiCat</title>

<script>
$(function() {
	$("#category").on("change", changePrice);
	$("#resetBtn").on("click", reset);
	$("#returnBtn").on("click", goBack);
	$("#addcast").on("click", addcast);
	$("#newCast").on("click", newCast);
	
	//파일 업로더 label
	$(".custom-file-input").on("change",function() {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
})

//category에 따라 가격 정해짐
function changePrice() {
	var option = $("#category").val();
	console.log(option);
	
	if (option == "영화") {
		$("#price").val("12000");
	} else {
		$("#price").val("150000");
	}
}

var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

function reset() {
	$("#fileName").html("Choose file");
}

function goBack() {
	location.href="/ShowTiCat/admin/show";
}

function addcast() {
	$("#myModal").hide();
	$(".modal-backdrop").remove();
	
	$("#listVal").val($("#getCast").val());
	$("#listName").val($("#getCast option:checked").text());
}

function newCast() {
	var castName =  $("#myModal2 input[name='castName']").val();
	var castUrl =  $("#myModal2 input[name='castUrl']").val();
	
	var obj = {
			"castName":castName,
			"castUrl":castUrl
			};
	
	$.ajax({
		type:"post",
		url: "/admin/addCast",
		beforeSend : function(xhr){
			xhr.setRequestHeader(header, token);
		},
		data: JSON.stringify(obj),
		dataType:"json",
		contentType: "application/json",
		success:function(resData) {
			$("#myModal2").hide();
			$(".modal-backdrop").remove();
			printList(resData);
		}
	});
}

function printList(resData) {
	var str = "";
	for(var i = 0;i<resData.length;i++) {
		str += "<option value=" + resData[i].castId + ">"
			+ resData[i].castName
			+ "</option>";
	}

	$("#getCast").html(str);
}
</script>
	
</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<h2>영화/공연 수정</h2> <hr>
		<form th:action="@{/admin/updateShow}" method="post" id="addShowForm" enctype="multipart/form-data">
			<div class="form-group">
				<input type="hidden" name="showCode" th:value="${show.showCode}">
				<label>제목</label> 
				<input class="form-control" type="text" name="showName" th:value="${show.showName}">
			</div>
			<div class="form-group">
				<label>감독</label> 
				<input class="form-control" type="text" name="director" th:value="${show.director}">
			</div>
			<div class="form-group">
				<label>
					출연자
					<button class="btn btn-showticat btn-sm" id="addCastBtn" type="button" data-toggle="modal" data-target="#myModal">+</button>
				</label> 
				<input type="hidden" id="listVal" name="castId">
				<input class="form-control" type="text" id="listName" readonly="readonly" th:value="${cList}">
			</div>
			<div class="form-group">
				<label>예고편</label> 
				<input class="form-control" type="text" name="trailer" th:value="${show.trailer}">
				<!-- 형식지정 -->
			</div>
			<div class="form-group">
				<label>개봉일자</label> 
				<input class="form-control" type="date" name="openingDate" th:value="${show.openingDate}">
			</div>
			<div class="form-group">
				<label>러닝타임(분)</label> 
				<input class="form-control" type="number" name="runningTime" th:value="${show.runningTime}">
			</div>
			<div class="form-group">
				<label>카테고리</label> 
				<select class="form-control" name="category" id="category">
					<option th:selected="${show.category} == '영화'">영화</option>
					<option th:selected="${show.category} == '공연'">공연</option>
				</select>
			</div>
			<div class="form-group">
				<label>줄거리</label>
				<textarea class="form-control" name="summary" rows="5">[[${show.summary}]]</textarea>
			</div>
			<div class="form-group">
				<label>포스터</label>
				<!-- <input class="form-control" type="text" readonly="readonly" th:value="${#strings.substring(show.poster?:0,103)}"> -->
				<input class="form-control" type="text" readonly="readonly" th:value="${show.poster}">
				<div class="custom-file form-control">
					<input type="file" class="custom-file-input" id="customFile" name="file"> 
					<label class="custom-file-label" for="customFile" id="fileName">Choose file</label>
				</div>
			</div>
			<div class="form-group">
				<label>가격</label>
				<input class="form-control" type="number" name="price" readonly="readonly" id="price" th:value="${show.price}">
			</div>
			<input class="btn btn-showticat" type="submit" value="수정"> 
			<input class="btn btn-outline-showticat" type="reset" value="리셋" id="resetBtn"> 
			<input class="btn btn-outline-showticat" type="button" value="돌아가기" id="returnBtn">
		</form>
	</div>
	
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">출연자 추가</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<label>
						출연자
						<button class="btn btn-showticat btn-sm" id="newCastBtn" type="button" data-toggle="modal" data-target="#myModal2">+</button>
					</label>
					<select class="form-control" id="getCast" multiple="multiple" size="5">
						<option th:each="c:${cast}" th:value="${c.cast.castDetail.castId}">[[${c.cast.castDetail.castName}]]</option>
					</select>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<input class="btn btn-showticat" id="addcast" type="button" value="추가하기">
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">출연자 정보 등록</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<label>이름</label>
					<input class="form-control" type="text" name="castName"><br>
					<label>URL</label>
					<input class="form-control" type="text" name="castUrl"><br>
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
					<input class="btn btn-showticat" id="newCast" value="등록하기">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>