<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/css/schedule/scheduleList.css}" />

<title>ShowTiCat | RESERVATION</title>

<script>
$(function() {
	getShowCode();
	$(".show").click(setShow);
	$(".place").click(setPlace);
	$(".date").click(setDate);
})

var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

var show = "";
var place = "";
var date = "";

function getShowCode() {
	show = "[[${showCode}]]";
	
	if(show != "") {
		var showList = $(".show");
		for(var i = 0;i < showList.length;i++) {
			if($(showList[i]).attr("show-code") == show) $(showList[i]).addClass("selected");
		}
	}
}

function setShow() {
	$(this).siblings().removeClass("selected");
	$(this).addClass("selected");
	
	var showCode = $(this).attr("show-code");
	show = showCode;
	getSchedule();
}

function setPlace() {
	$(this).siblings().removeClass("selected");
	$(this).addClass("selected");
	
	var placeId = $(this).attr("place-id");
	place = placeId;
	getSchedule();
}

function setDate() {
	$(this).siblings().removeClass("selected");
	$(this).addClass("selected");
	
	var d = $(this).attr("date");
	date = d;
	getSchedule();
}

function getSchedule() {
	if(show == "" || place == "" || date == "") {
	} else {
		$.ajax({
			type:"post",
			url: "/schedule/findSchedule/"+show+"/"+place+"/"+date,
			beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
			},
			success:function(resData) {
				if(!resData?.length) {
					$("#scheduleTitle").siblings().addClass("hide");
					$("#infoText").removeClass("hide").html("해당 일자에 상영중인 영화/공연이 없습니다.");
				}  else {
					let str = "";
					for(var i = 0;i < resData.length;i++) {
						str += "<li class='schedule'><a href='/reservation/" + resData[i].scheduleId + "'>"
							+ dateFormat(resData[i].showStart) + "<br>"
							+ resData[i].countSeat +"/" + resData[i].theater.lastSeat
							+ "석</a></li>";
					}
					
					$("#scheduleTitle").siblings().addClass("hide");
					$("#scheduleTitle").after(str);
				}
			}
		})
	}
}

function dateFormat(date) {
	var d = new Date(date);
	
	var hour = d.getHours();
	var minute = d.getMinutes();

    hour = hour >= 10 ? hour : '0' + hour;
    minute = minute >= 10 ? minute : '0' + minute;

    return hour + ':' + minute;
}
</script>
</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<h1>예매하기</h1>
		<hr>
		<div id="scheduleBox" class="scheduleBox">
			<ul id="showList" class="showList">
				<li class="listTitle">영화/공연</li>
				<li th:each="show:${showList}" id="show" class="show" th:show-code="${show.showCode}">
					<a href="#">[[${show.showName}]]</a>
				</li>
			</ul>
			<ul id="placeList" class="placeList">
				<li id="placeTitle" class="listTitle">극장</li>
				<li th:each="place:${placeList}" id="place" class="place" th:place-id="${place.placeId}">
					<a href="#">[[${place.placeName}]]</a>
				</li>
			</ul>
			<ul id="dateList" class="dateList">
				<li class="listTitle">날짜</li>
				<li th:each="date:${weekDate}" id="date" class="date" th:date="${date}">
					<a href="#">[[${date}]]</a>
				</li>
			</ul>
			<ul id="scheduleList" class="scheduleList">
				<li id="scheduleTitle" class="listTitle">스케줄</li>
				<li id="infoText">영화/공연, 극장, 날짜를 선택해주세요.</li>
			</ul>
		</div>
	</div><!-- contents -->
</div>
</body>
</html>