<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">

<title>ShowTiCat</title>



<script type="text/javascript">
	//쿠키설정    
	function setCookie(name, value, expiredays) {
		var todayDate = new Date();
		todayDate.setDate(todayDate.getDate() + expiredays);
		document.cookie = name + '=' + escape(value) + '; path=/; expires='
				+ todayDate.toGMTString() + ';'
	}

	//쿠키 불러오기
	function getCookie(name) {
		var obj = name + "=";
		var x = 0;
		while (x <= document.cookie.length) {
			var y = (x + obj.length);
			if (document.cookie.substring(x, y) == obj) {
				if ((endOfCookie = document.cookie.indexOf(";", y)) == -1)
					endOfCookie = document.cookie.length;
				return unescape(document.cookie.substring(y, endOfCookie));
			}
			x = document.cookie.indexOf(" ", x) + 1;

			if (x == 0)
				break;
		}
		return "";
	}

	$(function() {
		if (getCookie("divpop1") == "Y") {
			$("#divpop1").hide();
		} else {
			$("#divpop1").show();
		}
	});
	
	//닫기 버튼 클릭시
	function closeWin(key) {
		if ($("#todaycloseyn").prop("checked")) {
			setCookie('divpop' + key, 'Y', 1);
		}
		$("#divpop" + key + "").hide();
	}
</script>

</head>

<body>
<div layout:fragment="content">
	<div class="contaniner container-fluid">
		<div id="banner_contents" class="contents">
			<div id="slideWrap" class="carousel slide" data-ride="carousel">
				<a class="carousel-control-prev" href="#slideWrap" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<a th:href='@{/show/detail/2}'>
						<img src="/images/oppenheimer_main.jpg" alt="" width="100%" height="500"></a>
						<!--  width="980" -->
					</div>
					<div class="carousel-item">
						<a th:href='@{/show/detail/3}'>
						<img src="/images/the_phantom_of_the_opera_main.jpg" alt="" width="100%" height="500"></a>
						<!--  width="980" -->
					</div>
					<div class="carousel-item">
						<a href='#'> 
						<img src="" alt="" width="100%" height="500"></a>
						<!--  width="980" -->
					</div>

				</div>
				<a class="carousel-control-next" href="#slideWrap" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
				<ul class="carousel-indicators">
					<li data-target="#slideWrap" data-slide-to="0" class="active"></li>
					<li data-target="#slideWrap" data-slide-to="1"></li>
					<li data-target="#slideWrap" data-slide-to="2"></li>
				</ul>
			</div>
		</div>
		<!-- contents -->
	</div>
	<!-- contaniner -->
	<!-- /////////////////////////////////////////////////// -->
	<div class="chart">
		<div th:replace="~{/main/mainChart}"></div>
	</div>
	<!-- chart -->
	<form name="notice_form" id="popupform">
		<div id="divpop1" class="divpop">
			<h3> ShowTiCat 모바일로 보기</h3>
			<img alt="" src="/images/QR_22739206_.png">
			<div class="button_area">
				<input type='checkbox' name='chkbox' id='todaycloseyn' value='Y'>
				오늘 하루 이 창을 열지 않음 
				<a href='#' onclick="javascript:closeWin(1);"><B>[닫기]</B></a>
			</div>
		</div>
	</form>
</div>
</body>
</html>