<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/css/myPage/myPage.css}" />

<title>ShowTiCat | MYPAGE</title>

<style>
#goodByeMsg {
	text-align: center;
    padding-top: 100px;
}
</style>
</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<div th:replace="~{/myPage/side}"></div>
		<div id="goodByeMsg">
			<p>ShowTiCat을 이용해주셔서 감사합니다.</p>
			<button class="btn btn-sm btn-outline-showticat">메인으로</button>
		</div>
	</div><!-- contents -->
</div>
</body>
</html>