<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">

<title>ShowTiCat | MYPAGE</title>

<script>

</script>
</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<div th:replace="~{/myPage/side}"></div>
		<h2>MY INFO</h2>
		<form th:action="@{/myPage/updateMyInfo}" method="post" id="updateForm">
			<div class="form-group">
				<label>ID</label>
				<input class="form-control" type="text" name="memberId" th:value="${session.member.memberId}" readonly="readonly">
			</div>
			
			<div class="form-group">
				<label>PASSWORD </label>
				<input class="form-control" type="password" name="pw" id="pw">
	        </div>
	        
	        <div class="form-group">    
				<label>PASSWORD CHECK</label>
				<input class="form-control" type="password" id="pw2">
				<span id="pwMsg"></span>
			</div>
				   
			<div class="form-group">
				<label>NAME </label>
		        <input class="form-control" type="text" name="name" th:value="${session.member.name}">
			</div>
			
			<div class="form-group">
				<label>EMAIL</label>
				<input class="form-control" type="email" name="email" th:value="${session.member.email}">
				<p>ex) ShowTiCat@gamil.com</p>
			</div>
				
			<div class="form-group">
				<label>PHONE </label>
				<input class="form-control" type="text" name="phone" pattern="[01]{2}[01679]{1}[0-9]{7,8}" th:value="${session.member.phone}">
			</div>
			
			<div class="form-group">
				<label>BIRTHDAY </label>
				<input class="form-control" type="date" name="birth" th:value="${session.member.birth}">
			</div>
			
			<div class="form-group">
				<label>GENDER </label>
				<label class="form-check-inline">
					<input class="form-check-input" type="radio" name="gender" value="M" th:checked='${session.member.gender=="M"?"checked":""}'>남
				</label>
				<label class="form-check-inline">
					<input class="form-check-input" type="radio" name="gender" value="W" th:checked='${session.member.gender=="W"?"checked":""}'>여
				</label>
			</div>
			<br>
		    <input type="submit" class="btn btn-showticat" value="수정완료">
	    </form>
	</div><!-- contents -->
</div>
</body>
</html>