@charset "UTF-8";

.table {
	table-layout: fixed;
}

td {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ct {
	width: 7%;
}

 .n, .d {
	width: 12%;
}

.s {
	width: 40%;
}

.c {
	width: 11%;
}

.t {
	width: 12%;
}

.rt {
	width: 10%;
}

.p {
	width: 9%;
}
	
.showDetail:hover {
	cursor: pointer;
}