<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/css/place/placeList.css}" />

<title>ShowTiCat | PLACE</title>

<script>
$(function() {
	$("#thisWeek").html(getDate);
})

function getDate() {
	var day = new Date();
	var dd = changeFormat(day);
	var today = Date.parse(day);
	
	var str = "<button class='btn btn-light' onClick='getSchedule("+ dd +")'>" + dd + "</button>";
	
	for (var i=0; i<7; i++) {
	    today += 86400000;
	    var d = changeFormat(new Date(today));
	    str += "<button class='btn btn-light' onClick='getSchedule("+ d +")'>" + d + "</button>";
	}

  return str;
}

function changeFormat(d) {
	var date = d.getFullYear() + "-" 
			+ ((d.getMonth()+1)<=9?"0" + (d.getMonth()+1):(d.getMonth()+1)) + "-"
			+ ((d.getDate()+1)<=9?"0" + (d.getDate()+1):(d.getDate()+1));
			
	return date;
}

function getSchedule(day) {
	console.log(day);
}
</script>
</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<h1>극장 목록</h1>
		<div id="pList">
			 <a th:each="p:${placeList}" th:href="@{/place/}+${p.placeId}" class="place">
			 	ShowTiCat [[${p.placeName}]]</a>
		</div>
		
		<div id="infoBox">
			<div id="box">
				<p class="name">
					ShowTiCat [[${place.placeName}]]
					<button class="btn btn-outline-showticat btn-sm">관심매장</button>
				</p>
				<hr>
				<p class="info">위치 : [[${place.placeLoc}]]</p>
				<p class="info">문의 : [[${place.placePhone}]]</p>
			</div>
			<div id="map">지도!</div>
		</div>
		<hr>
		<div id="thisWeek"></div>
		<hr>
		<div>상영스케줄!</div>
	</div><!-- contents -->
</div>
</body>
</html>