<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/layout.html}">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" th:href="@{/css/place/placeList.css}" />

<title>ShowTiCat | PLACE</title>

<style>
.showInfo {
    padding-left: 10px;
}

.showName:hover {
	font-weight: bold;
}
</style>
<script>
$(function() {
	$(".getSchedule").click(getSchedule);
	$(".goReservation").click(goReservation);
})

var placeId = '[[${place.placeId}]]/';

function getSchedule() {
	var date = $(this).attr("date");
	location.href="/place/"+placeId+date;
}

function goReservation() {
	var scheduleId = $(this).attr("schedule-id");
	location.href="/reservation/"+scheduleId;
}
</script>
</head>

<body>
<div layout:fragment="content">
	<div class="contents">
		<h1>극장 목록</h1>
		<div id="pList">
			 <a th:each="p:${placeList}" th:href="@{/place/}+${p.placeId}+@{/}+${session.date}" class="place">
			 	ShowTiCat [[${p.placeName}]]</a>
		</div>
		
		<div id="infoBox">
			<div id="box">
				<p class="name">
					ShowTiCat [[${place.placeName}]]
					<button class="btn btn-outline-showticat btn-sm">관심매장</button>
				</p>
				<hr>
				<p class="info">위치 : [[${place.placeLoc}]]</p>
				<p class="info">문의 : [[${place.placePhone}]]</p>
			</div>
			<div id="map">지도!</div>
		</div>
		<hr>
		<div id="thisWeek">
			<button th:each="date:${weekDate}" class='btn btn-light getSchedule' th:date="${date}">[[${date}]]</button>
		</div>
		<hr>
		<div id="scheduleList">
			<th:block th:each="schedule:${scheduleList}">
				<!-- 첫번째 -->
				<th:block th:if="${scheduleStat.first}">
					<div>
						<a class="showName" th:href="@{/show/detail/}+${schedule.show.showCode}">[[${schedule.show.showName}]]</a>
						<span class="showInfo"> [[${schedule.show.category}]] | [[${schedule.show.runningTime}]]분 | [[${schedule.show.openingDate}]] OPEN</span>
					</div>
					<p class="theaterInfo">[[${schedule.theater.theaterId}]]관 | [[${schedule.theater.theaterType}]] | 총 [[${schedule.theater.lastSeat}]]석</p>
				</th:block>
				
				<!-- 중간 -->
				<th:block th:if="${!scheduleStat.first}">
					<!-- 이전과 같은 show인 경우 -->
					<th:block th:if="${scheduleList[scheduleStat.index].show.showCode == scheduleList[scheduleStat.index-1].show.showCode}">
						<!-- 이전과 다른 상영관인 경우 -->
						<th:block th:if="${scheduleList[scheduleStat.index].theater.theaterId != scheduleList[scheduleStat.index-1].theater.theaterId}">
							<br>
							<p class="theaterInfo">[[${schedule.theater.theaterId}]]관 | [[${schedule.theater.theaterType}]] | 총 [[${schedule.theater.lastSeat}]]석</p>
						</th:block>
					</th:block>
					
					<!-- 이전과 다른 show인 경우 -->
					<th:block th:if="${scheduleList[scheduleStat.index].show.showCode != scheduleList[scheduleStat.index-1].show.showCode}">
						<hr>
						<div>
							<a class="showName" th:href="@{/show/detail/}+${schedule.show.showCode}">[[${schedule.show.showName}]]</a>
							<span class="showInfo"> [[${schedule.show.category}]] | [[${schedule.show.runningTime}]]분 | [[${schedule.show.openingDate}]] OPEN</span>
						</div>
						<p class="theaterInfo">[[${schedule.theater.theaterId}]]관 | [[${schedule.theater.theaterType}]] | 총 [[${schedule.theater.lastSeat}]]석</p>
					</th:block>
				</th:block>
				<button class="btn btn-outline-showticat goReservation" th:schedule-id="${schedule.scheduleId}">
					[[${#dates.format(schedule.showStart, 'HH:mm')}]] <br>
					[[${schedule.countSeat}]]/[[${schedule.theater.lastSeat}]]석
				
				</button>
			</th:block>

		</div>
	</div><!-- contents -->
</div>
</body>
</html>